# requirements.txt (CPU Installation)

# Local wheel (install before other packages)
./praat_parselmouth-0.5.0.dev0-cp310-cp310-manylinux2014_aarch64.manylinux_2_17_aarch64.whl

# Web Framework
fastapi
uvicorn[standard]

# KittenTTS Core Dependencies
onnxruntime
soundfile
numpy
huggingface_hub
phonemizer
misaki[en]>=0.9.4
espeakng_loader==0.2.0

# Configuration & Utilities
PyYAML
python-multipart
requests
Jinja2
watchdog
aiofiles
unidecode
inflect
tqdm
hf-transfer
pydub
librosa
torch
torchaudio