# requirements.txt (CPU Installation)

# Local wheel (install before other packages)
./praat_parselmouth-0.4.7-cp310-cp310-manylinux_2_12_i686.manylinux2010_i686.whl

# Web Framework
fastapi
uvicorn[standard]

# KittenTTS Core Dependencies
onnxruntime
soundfile
numpy
huggingface_hub
phonemizer
misaki[en]>=0.9.4
espeakng_loader==0.2.0

# Configuration & Utilities
PyYAML
python-multipart
requests
Jinja2
watchdog
aiofiles
unidecode
inflect
tqdm
hf-transfer
pydub
librosa
torch
torchaudio